" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Case insensitive search; case sensitive if search pattern contains uppercase.
set ignorecase
set smartcase

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

"" -- Additional Useful Options --

" Enable line numbers
set number

" Enable relative line numbers for easier navigation
set relativenumber

" Better split navigation
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

" Exit insert mode by typing jj or jk
imap jj <Esc>
imap jk <Esc>

" Swift paste from system clipboard
set clipboard=unnamedplus

" Use space as leader key (common in NVChad and other modern Vim setups)
let mapleader = " "

" Map leader + r to start the application (Run action)
map <leader>r <Action>(Run)

" Map leader + f to format code
map <leader>f <Action>(ReformatCode)

" Fast saving
nnoremap <leader>w :w<CR>

" Quit
nnoremap <leader>q :q<CR>